{% extends 'musicbeats/basic.html' %}
{% block title %}Login{% endblock %}

{% block body%}
<div class="container my-3">
  <h2>Login</h2>
  <form action="/musicbeats/login" method="POST" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="form-group">
      <label for="inputUsername">Username</label>
      <input type="text" class="form-control" id="inputUsername" name="username" required>
      <div class="invalid-feedback">Please provide your username.</div>
    </div>
    <br>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" required>
      <div class="invalid-feedback">Please provide your password.</div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
{% endblock %}
