{% extends 'musicbeats/basic.html' %}
{% block title%}All Songs{% endblock %}

{% block body %}
<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-6" style="padding-top: 3%;">
            <img src="/media/{{song.image}}" alt="" height="250px" width="350px">
        </div>
        <div class="col-md-6">
            <h2 style="padding-top: 6%; font-weight: 550; color: blueviolet;">Title : {{song.name}}</h2>
            <h4 style="padding-top: 2%; font-weight: 550;">Category: {{song.tags}}</h4>
            <h4 style="padding-top: 2%; font-weight: 550;">Movie: {{song.movie}}</h4>
            <h4 style="padding-top: 2%; font-weight: 550;">Singer: {{song.singer}}</h4>
            <audio controls style="padding-top: 2%;">
            <source src="/media/{{song.song}}" type="audio/mp3"></audio>
            <div style="padding-top: 2%;">
            
            <a href="/media/{{song.song}}" download><button class="btn btn-outline-danger">Download Song</button></a>
        </div>
    </div>
</div>
<hr>
{% endblock %}